@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
  } 


/* Общие */

html {
  height: 100%;
}
  
  body {
    margin:0px; 
    display: flex;
  flex-direction: column;
  min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;    
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background: #FFFFFF;
  }
 
  
li {
  list-style-type: none;
  }

h1, h2 { 
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;   
  color: #000000;
}


h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444; 

}


a {
text-decoration: none;
}
 


.visually-hidden  {
display: none;

}

.container {
margin-bottom: 37px; } 

.main-nav {
  display: flex;
  width: 1160px;
  flex-direction: column;
  margin: 0 auto;
  background: #FFE17F;
  margin-top: 40px;
   
}

.header-middle {
  display: flex;
  width: 1160px;
  margin-bottom: 29px;
}


.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 535px;
  margin-left: auto;
  justify-content: space-around;
}


.search-form {
background-image:url(img\search.svg);
 
    margin-left: 60px;   
}


.search-field {   
  width: 516px;  
  }



.header-bottom {
  display: flex;
  margin: 0;
  padding: 0;
  
   
}

.site-nav {
  display: flex;
  width: 1041px;
  justify-content: space-between;
  margin: 0;
    padding: 0;
    margin-left: 60px;
    margin-right: 59px;
  }

  .profile {
    width: 247px;
    margin-right: 15px;
    text-align: center;
  }


  .compare {
    width: 120px;
    margin-right: 15px;
    text-align: center;
  }

  .cart {
    width: 141px;
    margin-right: 25px;
    text-align: center;
  }


  .site-nav-item {
    width: 293px;
     
  }


.site-nav-item:nth-child(2) {
  width: 140px;
  margin-left: 247px; 
}

.site-nav-item:nth-child(3) {
  width: 140px;
  margin-left: 19px; 
}

.site-nav-item:nth-child(4) {
  width: 140px;
  margin-left: 62px; 
}

 


.sub-menu {
  display: flex;
  width: 610px;
  /* justify-content: space-between; */
  padding: 0;
  margin-top: 35px;
  margin-bottom: 27px; 
}
 
.sub-menu-item {
  display: flex;
  
  /* margin: 0 auto; */
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px; 
}

 

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;  
  width: 160px;
  padding: 8px 20px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000;
   
}
  




.button-form {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 160px;
  padding: 8px 20px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
 text-transform: uppercase;
  letter-spacing: 3.6px;
  background: none;
  border: none;
  padding: 0;
}

/* Хедер */

 
 .main-header {
  background: #FFFFFF;

}

 
/* Навигация для юзера */


.navigation-link {
  font-size: 16px;
  line-height: 19px;  
  color: #000000; 
  letter-spacing: normal;
  text-transform: none;
 
}

 

/* Навигация катлога в шапке */
 
.site-nav-item a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
   
  color: #000000;

}

.sub-menu-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  letter-spacing: normal;
  text-transform: none;
   
  
}

.sub-menu-item a:not(:last-child) {
  margin-bottom: 20px;
}
/* Главная */


 
.main-content {
  background: #FFFFFF;
 
}


.page-container {
  margin: 0 auto;

}


 
/* Слайдер*/

.slider {
  
  margin-bottom: 70px;

}


.container-slider {
  width: 1160px;
  padding: 0;
  margin: auto;

}



/* Слайдер - заголовок */

.tagline {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}


/* Слайдер - список */


 
.slider-slides {
  margin: 0;
  padding: 0;
  /*display: flex;*/
}

.slide {
  width: 1160px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center
}

.slide-content {
   
  width: 560px;
  padding-right: 20px;
    padding-left: 20px;

} 

.slider-controls {
  display: flex;
  width: 80px;  


} 

.slider-control {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;


}

/* Слайдер - таблица */

.properties {
   width: 560px;
   display: flex;
   justify-content: flex-start;
}


.properties td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  width: 160px;
  margin: 0;
  padding: 0;

}

.properties th {
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  width: 160px;
  margin: 0;
  padding: 0;
}


/* Популярные категории */
.popular-categories {
  margin-bottom: 70px;
 
}

.container-categories {
   width: 1160px;
   margin: auto;
  
}

.popular-categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.popular-item {
  width: 160px;
  text-align: left;
}
 
.popular-item:not(:last-child) {
  margin-right: 40px;
}


.popular-item a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: normal;
  text-transform: none;
   
  background: #FFFFFF;
  }


  .popular-vr a {
  background-image:url(img\vr.png);
   
  }

  .popular-mono a {
    background-image:url(img\monopod.png);
     
    }


  .popular-camera a {
    background-image:url(img\camera.png);
     
    }

  .popular-fitness a {
    background-image:url(img\fitnes.png);
     
    }
  
  .popular-smart a {
    background-image:url(img\clock.png);
     
    }

  .popular-copter a {
    background-image:url(img\copter.png);
     
    }

/* Доставка */

.services {
background: #F0F0F0;
 
}


.container-services {
    width: 1160px;
    margin: 0 auto;
    
}
.services-slider {
  display: flex;
 
   
}

.services-list {
  margin: 0;
  padding: 0;
  margin-left: 116px;
   
}



.services-item {
  width: 500px;
  margin: 0;
  padding: 0;

}

 .services-item h2 {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 14px;
}

.services-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}


.services-slider-controls { 
  width: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  border-right: 7px solid #000;

}

.services-control:not(:last-child) {
  margin-bottom: 44px;

}

/* Доставка редкого товара */ 


/* .delivery-company {
  padding-top: 90px;

}*/


.delivery {
background: #F0F0F0;
width: 1160px;
 margin: 0 auto;
 margin-bottom: 97px;
 margin-top: 90px;


}

.delivery-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;  
  display: block;
  padding-bottom: 34px;
  padding-top: 37px; 
}


/* Информация о компании */ 


 



.about-company {
display: flex;
width: 1160px;
margin: 0 auto;
justify-content: space-between;
margin-bottom: 87px;
}



.about {
width: 560px;
margin-right: 45px; 
}

.about p {
margin: 0;
 padding: 0; 
 margin-bottom: 23px;
 
  }







.about-contact {
  width: 560px;
   
  }



  .about-contact-title {
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
     
    }

 .about-contact-description {
      margin: 0;
      padding: 0;
      margin-bottom: 30px; 
      }

      .contacts-adress {
        margin: 0;
        padding: 0;
    
        }

 .about-contact h3 {
        margin: 0;
        padding: 0;
        margin-bottom: 15px; 
        }

 .contacts-phone {
  margin: 0;
  padding: 0;
  margin-bottom: 30px; 
  display: block;
  }

  .contacts-work {
    margin: 0;
    padding: 0;
    margin-bottom: 67px; 
    }

 
  



 .partners {
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
}



.partners li {
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  list-style-type: disc;
  list-style-type: none;
  }

  .partners li:not(:last-child) {
   margin-bottom: 31px;
    }


    

.partners li:before {
   content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin-right: 26px;
    border: 2px solid #FFC700;
    border-radius: 50%;
    vertical-align: middle;
   
}

.contacts-phone {
font-size: 18px;
line-height: 30px;
text-decoration-line: underline;
text-decoration: none; 
letter-spacing: normal;
color: #444444;
}


/* Подпишитесь на рассылку */ 


.mail { 
background: #F0F0F0;
}


.mail-container { 
  width: 1160px;
  margin: 0 auto; 
}


.mail-title { 
  width: 560px;
  margin: 0;
  padding: 0;
   margin-top: 75px; 
   margin-bottom: 53px;
   margin-right: 40px;
}

.mail-description { 
  width: 560px;
  margin: 0 auto; 
}

.mail-container-description { 
  display: flex;
 
  align-items: center;
}


.subscribe-form-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
   
   
}

.subscribe-form {
  width: 860px; 
  margin-bottom: 134px; 
  margin-right: 136px;
}

.subscribe-field {
  width: 560px;  
}

.subscribe-button {
  width: 260px; 
  font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;

/* basic/black */

color: #000000; 
}

.mail-price {
  width: 165px; 
  text-align: end; 
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}



/* Подвал */ 


.page-footer {
background: #444444;
min-height: 321px
}


.footer-container {  
  width: 1160px;
  margin: auto;
 

}


.footer-list {  
  width: 458px;
  display: flex;
  
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 58px;
}


.footer-contacts {
  display: flex;
  align-items: center;
  
}

.footer-adress {
  font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
    width: 238px;
    padding: 0;
    margin: 0;
    margin-right: 114px;
}

.footer-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: rgb(255, 255, 255);
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  width: 293px;
}

.footer-phone a {
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: right;
color: #FFFFFF;
letter-spacing: normal;
 
 }


 .footer-item:not(:last-child) {
margin-right: 7px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase; 
   
  color: #FFFFFF; 

}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  /* padding: 0; */
  margin-top: 49px;
  margin-bottom: 61px;
}

.footer-social-block {
  display: flex;
  align-items: center;
}


.footer-social-block::before {
  content: "";
  width: 80px;
  height: 7px;
  margin-right: 430px;
  background-color: #f0c52e;
}

.academy {
  margin-left: auto;
}


.footer-social-list {
  display: flex;
  justify-content: center;
  padding: 0;
}


.footer-social-item:not(:last-child) {
  margin-right: 24px;
}

.footer-logo {
  padding-top: 62px;
  display: block;
  color: rgb(255, 255, 255);
  padding-bottom: 35px;

}

.button-social {
  color: #FFFFFF; 
  
}
 /* каталог */

 
.inner-header {
  width: 1160px;
  margin: 0 auto;
 
}


.inner-header-title  {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000; 
  margin: 0;
  padding: 0;
 margin-bottom: 14px;
 margin-left: 60px;
}








 /* Хлебные крошки */

 .breadcrumbs {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 49px;
    margin-left: 60px;
}

/* Link */
.breadcrumbs a {
  color: inherit;
}


.breadcrumbs li:not(:last-child)  {
margin-right: 32px;


}






 /* Фильтр */


 .catalog-products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

 .container-filter {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.name-catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: 70px;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #dbdbdb;
}

.sorting-container {
  flex-grow: 1;
   
}

.form-catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  padding-top: 69px;
  padding-right: 70px;
  background-color: #efefef;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  width: 200px;
}

 


.catalog-filter-group {
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 2px solid #000;
  border: none;


}




.catalog-filter-list {
  margin: 0;
  padding: 0;

}

.catalog-filter-item {
  margin-bottom: 20px;

}



.catalog-right-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog-product-column {
  box-sizing: border-box;
  width: 830px;
  padding: 70px 0 77px 70px;
}

.pagination-block {
  width: 760px;
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  min-height: 70px;

  }
  

 

.name-filter {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 236px;
 
}

 

.catalog-filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;   
  letter-spacing: -0.02em; 
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.control-label {
  font-size: 16px;
  line-height: 19px;  
  color: #000000;
}

.name-sorting {
  box-sizing: border-box;
  min-height: 70px;
  background-color: #ebebeb;
}


.name-sorting-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 830px;
  padding-left: 72px;
  padding-top: 20px;

}

.name-catalog-sorting {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
 
  margin-right: 51px;
  padding: 0;
}

 

 


 /* Карточки товаров */
  
 .product-card {
  
  display: flex; 
  flex-direction: column;
  width: 360px;
  margin-bottom: 46px;

}

.product-card-image {
margin-bottom: 32px;
}

.product-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-list li:not(:nth-child(2n)) {
  margin-right: 40px;
}


 .product-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em; 
  color: #000000;
  width: 280px;
  margin: 0;
  padding: 0;

}

.product-list {
  display: flex; 
  flex-direction: row;  
  flex-wrap: wrap; 
  width: 100%;
  margin: 0;
 
  padding: 0;
  list-style: none;
  
  }



 


.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;  
  color: #444444;
  margin: 0;
  padding: 0;

}

  .pagination  {
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;

  }

.pagination-link, .pagination-ellipsis {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;  
  text-align: center;  
  color: #444444;  
  opacity: 0.3;
  
}

.pagination-step {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
    color: #000000;
}

.pagination-show-more {
  background: #FFFFFF;
  width: 760px;
  text-align: center;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 19px;

}


.pagination-button {

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;   
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;  
  color: #000000;
  padding: 27px 29px; 
  background-color: #ebebeb;
   

}


 

.pagination-item:not(:last-child) {
  margin-right: 28px;
}