

p {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #444444;
}

li {
color: #000000;

}

h1,h2 {
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

.navigation-catalog-title {
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
}


.navigation-catalog-item {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
}

 

.delivery-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;    
}

.navigation-item {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
   }
